$theme-colors: (
  "primary":    #0d6efd,
  "secondary":  #6c757d,
  "success":    #198754,
  "info":       #0dcaf0,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #212529,
);
$bg-black-color:rgb(10, 10, 10);
$bg-rbga-white-color:rgba(255, 255, 255, 0.899);
